################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/Vidly
/Vidly/.vs/Vidly
/Vidly/obj/Debug
