@model IEnumerable<Vidly.Models.Customers>
@{  ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Vidly Customers</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Customer
        </th>
        <th>
            Name
        </th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(customer.Name, "CustomerDetails", "Customers", new { id = customer.Id }, null)
            </td>
            <td>
                @customer.MemberShipType.Name
            </td>
        </tr>

    }
</table>
